<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRKhSr43ChBLxg1u9r4OxAcaNgH_j4WnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>129790191006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoCall</string>
	<key>PROJECT_ID</key>
	<string>lawyeronline-a8424</string>
	<key>STORAGE_BUCKET</key>
	<string>lawyeronline-a8424.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129790191006:ios:e72e1a0e1a27b0f89c628f</string>
</dict>
</plist>